<ng-content></ng-content>
<div class="form-container">
  <form
    (ngSubmit)="onSubmit(formGroupDirective)"
    [formGroup]="todoForm"
    #formGroupDirective="ngForm"
  >
    <mat-form-field appearance="fill">
      <mat-label>ToDo's name</mat-label>
      <input type="text" matInput formControlName="name" maxlength="50" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Add a note</mat-label>
      <textarea matInput formControlName="note" maxlength="750"></textarea>
    </mat-form-field>
    <div class="img-search-container">
      <mat-form-field class="picture-input" appearance="fill" #imgFormField>
        <mat-label>Search for a picture</mat-label>
        <input
          type="text"
          matInput
          formControlName="imgSrc"
          class="img-search-input"
          #searchImg
        />
      </mat-form-field>
      <button
        class="search-btn"
        (click)="onSearchImage(searchImg.value)"
        mat-fab
        color="primary"
        type="button"
      >
        <mat-icon>search</mat-icon>
      </button>
    </div>
    <h3 *ngIf="imageNotFound" class="text-center">
      {{ imageNotFound }}
    </h3>
    <button mat-raised-button color="primary" type="submit" #exampleButton>
      Submit
    </button>
  </form>
</div>
<div *ngIf="loadingSpinner" class="spinner-container">
  <mat-spinner></mat-spinner>
</div>
<app-image-search
  (selectedImage)="selectedImage($event)"
  *ngIf="shouldDisplayImageSearch || shouldShowSearch || hasFetchedImages"
  [images]="fetchedImages"
  [preselectedImageRef]="curSelectedImage"
></app-image-search>
