<ng-content *ngIf="todoArray.length > 0"></ng-content>
<div class="mytodos-container">
  <h1 *ngIf="todoArray.length === 0" class="text-center">
    It's looking real empty here... it's time <b>Todo</b> something
  </h1>
  <div class="card-container" *ngIf="todoArray.length > 0">
    <div class="card" *ngFor="let todo of todoArray; let i = index">
      <img
        [ngClass]="{ hidden: !todo.imgSrc }"
        mat-card-image
        [src]="todo.imgSrc?.src"
        [alt]="todo.imgSrc?.alt"
      />
      <div class="name-note">
        <h2>{{ todo.name }}</h2>
        <p>{{ todo.note }}</p>
      </div>
      <div class="edit-delete">
        <button
          mat-raised-button
          color="primary"
          (click)="openEditDialog(i)"
          [routerLink]="['edit', i]"
        >
          Edit
        </button>
        <button mat-raised-button color="warn" (click)="openDeleteDialog(i)">
          Delete
        </button>
      </div>
    </div>
  </div>
</div>
